/* Styles pour le container du dropdown */
.lou-dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    // transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; // Empêche les clics lorsque le dropdown est fermé
  }
  
  /* Styles pour le dropdown lorsqu'il est ouvert */
  .lou-dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; // Active les clics lorsque le dropdown est ouvert
  }
  